<style>.hl-0 { color: #D32F2F; }
.dark .hl-0 { color: #F97583; }
.hl-1 { color: #24292EFF; }
.dark .hl-1 { color: #B392F0; }
.hl-2 { color: #1976D2; }
.dark .hl-2 { color: #79B8FF; }
.hl-3 { color: #6F42C1; }
.dark .hl-3 { color: #B392F0; }
.hl-4 { color: #22863A; }
.dark .hl-4 { color: #FFAB70; }
.hl-5 { color: #212121; }
.dark .hl-5 { color: #BBBBBB; }
.hl-6 { color: #C2C3C5; }
.dark .hl-6 { color: #6B737C; }pre { background: #ffffff; }.dark pre { background: #1f1f1f; }</style>